html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a{
    color: rgb(247, 207, 88);
    font-weight: 800;
}

nav{
    background-color: rgb(247 247 247);
}

.navbar{
    background-color: rgb( 255, 255, 255);
}

body{
    background-color: rgb(247, 207, 88);
}

.container-1{
    display: flex;
    background-color: rgb(247 247 247);
    max-width: 100%;
    min-height: 100vh;
    justify-content: center;
}

.photo-description{
    align-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.main-photo{
    margin-top: 20px;
}

.name-photo{
    align-items: center;
    font-size: xxx-large;
    color: rgb(247, 207, 88);
    font-weight: 900;
}

.under-photo{
    padding: 20px;
}

.container-2{
    padding: 20px;
    min-height: 100vh;
}

.title{
    color: white;
    
}

.slide{
    background-color: rgb( 255, 255, 255);
    padding: 5px;
    border-radius: 3%;
}

.slide-photo{
    margin-bottom: 10px;
    border-radius: 3%;
}

h1{
    font-size: medium;
    font-weight: 600;
}

h2{
    font-size: small;
    font-weight: 300;
}

.container-3{
    background-color: rgb(247 247 247);
    max-width: 100%;
    min-height: 100vh;
    padding: 20px;
}

h3{
    font-size:50px;
    margin-bottom: 30px;
}

.icons{
    font-size: 50px;
    justify-content:space-around;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 20px;
}

.contact_form{	
	width: 460px; 
    height: auto;
    margin: 80px auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
    background-color: rgb(247, 207, 88); 
    padding-left: 30px; 
}


input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: white; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color:white; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}


label{
  display: block; 
	float: center; 	
}


button{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: white; 
	border-color: white; 
	border-style: solid; 
	border-radius: 10px;	
	width: 420px;   
    cursor: pointer;
}

.send{
    color: rgb(247, 207, 88);
    padding: 9px;
    font-weight: 900;
}

button p{
	color: #fff; 
}


span{
	color: white; 
}


.alert{
	font-size: 13px;  
	color: white;  
}


h4{
	font-size: 39px;  
	text-align: letf; 
	padding-bottom: 20px; 
	color: white;
}


h5{
	font-size: 16px; 
	padding-bottom: 30px;
	color: white;   
}


.form-info{
	font-size: 14px; 
	color: white; 
    font-weight: 600;
}


::-webkit-input-placeholder {
 color: rgb(247, 207, 88);
}


::-webkit-textarea-placeholder {
 color: white;
}


.formulario input:focus{
	outline:0;
	border: 1px solid white;
}


.formulario textarea:focus{
	outline:0;
	border: 1px solid white;
}

.container-4{
    background-color: rgb(247, 207, 88);
    max-width: 100%;
    text-align: center;

}

h6{
    font-size: 100px;
    color: rgb(247 247 247);
    padding: 50px
}